.cio-search-form .form-group {
    margin: 8px;
}
.cio-search-form label {
    padding-right: 6px;
    text-align: right;
    width: auto !important;
}
.pagination li {
    cursor: pointer;
}
.cio-search-form .form-group {
    margin: 8px;
}
th, td {
    text-align: center;
}
.pagination {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}